
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<ul class="list-group">
		<div class="list-group-item">
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			<% if (session.user) { %>		
				<a href="quizes/<%= quizes[i].id %>/edit"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				
				
					<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">									<!- @override ->
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
						<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">borrar</button>
					</span>
					</form>
				
			<% } %>
		</div>
		</ul>
	<% } %>


<% if (session.user) { %>
	<a href="/quizes/new"><button>Crear pregunta</button></a>
<% } %>