
	<% var i; for (i=0; i < quizes.length; i++) { %>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="quizes/<%= quizes[i].id %>" class="list-group-item"><%= quizes[i].pregunta %></a>
			<% if (session.user) { %>		
				<a href="quizes/<%= quizes[i].id %>/edit"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				
				
					<form class="navbar-form navbar-left" method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">									<!- @override ->
						<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">borrar</button>
					</form>
				
			<% } %>
		</li>
		</ul>
	<% } %>


<% if (session.user) { %>
	<a href="/quizes/new"><button>Crear pregunta</button></a>
<% } %>