
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<ul class="list-group">
		<div class="list-group-item">
		
			<form class="form-inline">
		
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			<% if (session.user) { %>
				
				<a href="quizes/<%= quizes[i].id %>/edit"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				
				
					<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">									<!- @override ->
					
						<button class="btn btn-danger" type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					
					</form>
				
			<% } %>
			
			</form>
			
		</div>
		</ul>
	<% } %>


<% if (session.user) { %>
	<a href="/quizes/new"><button>Crear pregunta</button></a>
<% } %>