<h4>Página de estadísticas</h4>

<div class="panel panel-default table-responsive">
	<table class="table">
		<tbody>
		
		  <tr><h5>Preguntas: <%= statistics.questions %></h5></tr>
		  <tr><h5>Comentarios: <%= statistics.comments %></h5></tr>
		  <tr><h5>Comentarios por pregunta: <%= statistics.average_comments %></h5></tr>
		  <tr><h5>Preguntas sin comentarios: <%= statistics.no_commented %></h5></tr>
		  <tr><h5>Preguntas con comentarios: <%= statistics.commented_questions %></h5></tr>
		
		
	</table>
</div>