<h2>Página de estadísticas</h2>

<div class="panel panel-default table-responsive">
	<table class="table table-striped">

		
		  <li>Preguntas: <%= statistics.questions %></li>
		  <li>Comentarios: <%= statistics.comments %></li>
		  <li>Comentarios por pregunta: <%= statistics.average_comments %></li>
		  <li>Preguntas sin comentarios: <%= statistics.no_commented %></li>
		  <li>Preguntas con comentarios: <%= statistics.commented_questions %></li>
		
	</table>
</div>