<h4>Página de estadísticas</h4>

<div class="panel panel-default table-responsive">
	<table class="table">

		
		  <tr><td>Preguntas: <%= statistics.questions %></td></tr>
		  <tr><td>Comentarios: <%= statistics.comments %></td></tr>
		  <tr><td>Comentarios por pregunta: <%= statistics.average_comments %></td></tr>
		  <tr><td>Preguntas sin comentarios: <%= statistics.no_commented %></td></tr>
		  <tr><td>Preguntas con comentarios: <%= statistics.commented_questions %></td></tr>
		
		
	</table>
</div>