<h2>Página de estadísticas</h2>

<div class="panel panel-default table-responsive">
	<table class="table">

		
		  <tr>Preguntas: <%= statistics.questions %></tr>
		  <tr>Comentarios: <%= statistics.comments %></tr>
		  <tr>Comentarios por pregunta: <%= statistics.average_comments %></tr>
		  <tr>Preguntas sin comentarios: <%= statistics.no_commented %></tr>
		  <tr>Preguntas con comentarios: <%= statistics.commented_questions %></tr>
		
	</table>
</div>