<h2>Página de estadísticas</h2>

<div class="panel panel-default table-responsive">
	<table class="table table-striped">

		
		  <tr><li>Preguntas: <%= statistics.questions %></li></tr>
		  <tr><li>Comentarios: <%= statistics.comments %></li></tr>
		  <tr><li>Comentarios por pregunta: <%= statistics.average_comments %></li></tr>
		  <tr><li>Preguntas sin comentarios: <%= statistics.no_commented %></li></tr>
		  <tr><li>Preguntas con comentarios: <%= statistics.commented_questions %></li></tr>
		
	</table>
</div>